/*frankenstein style*/

body{
	margin: 0;
	padding: 0;
	font-size: 0.8vh;
	font-family: sans-serif;
	background-color: tomato;
	color: snow;
}

#map{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#infoContainer{
	display: block;
	position: absolute;
	z-index: 2;
	background: coral;
	width: 20%;
	height: 20%;
	top: 10%;
	left: 5%;

}

#containerInfo{
	display: block;
	position: absolute;
	z-index: 2;
	background: coral;
	width: 20%;
	height: 20%;
	top: 40%;
	left: 5%;
}

#location{
	display: block;
	position: absolute;
	z-index: 2;
	background: coral;
	width: 20%;
	height: 20%;
	top: 70%;
	left: 5%;
}